---
# task file raspberry-setup

- name: OS | Perform update
  apt:
    upgrade: safe
    update_cache: yes
  register: update_result

- name: RASPBERRY PI SETUP | Install basic packages
  apt:
    name: "{{ packages }}"
    state: present
    update_cache: yes
  with_items: "{{ packages }}"

- import_tasks: setup_zsh.yml
  when: zsh == True
  become: no
  tags: zsh

- import_tasks: setup_staticip.yml
  when: set_staticip == True
  become: yes
  tags: configure_ip
